# Build directories
build*/
build_dq/

# Executable files
gen4_ldpc_sim/.cache
ssd_fc*
GenLDPC/ldpc_gen

# Output directories
GenLDPC/output/
gen4_ldpc_sim/output/
output/
runs/

doc_untracked/
IBEX/config/AllMatrixTest

# Compiled Object files
*.o
*.obj
*.elf

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Dependency files
*.d

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Logs
*.log
*.xlsx
*.csv
*.json
*.toml
perf/*.log

# Temporary files
*~
*.swp
*.swo
.DS_Store

# IDE specific
.vscode/
.idea/
*.code-workspace

# Backup files
*.bak
*.backup

# Python cache directories
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/


# core bf
IBEX/doc/all core bf

# white list
!*.cpp
!*.c
!*.h
!Makefile
!*.md